ul {
  padding: 0;
  text-align: center;
  position: relative;
  left: 10px;
}

li {
  display: inline-block;
  margin: 0 15px;
}

a {
  font-size: 17px;
  text-decoration-line: none;
  color: rgb(21, 87, 255);
}



.active {
  vertical-align: middle;
}

.active>a {
  line-height: 43px;
  display: block;
  color: white;
  background: linear-gradient(rgb(21, 87, 255), rgba(11, 174, 255, 0.903) 270%);  
  width: 43px;
  height: 43px;
  border-radius: 50%;  
}

li:nth-last-child(1)>a,li:nth-last-child(2)>a,li:nth-child(1)>a,li:nth-child(2)>a {
  font-size: 26px;
  line-height: 43px;
}
